<div class="index-container">
    <h1>Books</h1>
    <table>
        <tr>
            <th>Title</th><th>Body</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            
        </tr>
        <% end %>
    </table>
</div>




<div class="new-container">
    <h1>New Book</h1>
    <%= form_with model: @book, url: '/books', method: :post do |f|%>
        <label>
          Title
          <%= f.text_field :title %>
        </label>
        
        <label>
          Body
          <%= f.text_area :body %>
        </label>
        
        <%= f.submit 'Create Book' %>
    <% end %>
</div>

