<div class="index-container">
    <h1>Books</h1>
    <table>
        <tr>
            <th>Title</th><th>Body</th>
        </tr>
        
        <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td><span class = "link"><%= link_to "Show", book_path(book.id) %></span></td>
            <td><span class = "link"><%= link_to "Edit", edit_book_path(book.id) %></span></td>
            <td><span class = "link"><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></span></td>
        </tr>
        <% end %>
    </table>
</div>




<div class="new-container">
    <h1>New book</h1>
    <% if @book.errors.any? %>
    <div class="error-explanation">
        <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
        <div class="error-details">
            <ul>
                <% @book.errors.full_messages.each do |message| %>
                <li class = "error-message"><%= message %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <% end %>
    
    <%= form_with model: @book, url: '/books', method: :post do |f|%>
    
    <% if @book.title == "" %>
        <label class = "error-label">
          <span>Title</span>
          <span class = "input error-span"><%= f.text_field :title, class:"text_field text" %></span>
        </label>
    <% else %>
        <label>
          <span>Title</span>
          <span class = "input"><%= f.text_field :title, class:"text_field text", id:"text_field_area" %></span>
        </label>
    <% end %>
        
        <label>
          Body
          <span class = "input"><%= f.text_area :body, class:"text_area text" %></span>
        </label>
        
        <span class = 'input'><%= f.submit 'Create Book', class:"submit_button" %></span>
    <% end %>
</div>

